:root {
  //colors
  --black: #000;
  --dark-gray: #333;
  --red: #CC0000;
  --white: #FFF;
  --body-bg: var(--dark-gray);
  --sidebar-bg: var(--black);

  //fonts
  --main-font: 'Metropolis', sans-serif;
  --accent-font: 'Share Tech Mono', monospace;

  //sizes
  --space: 1.1vw;
  --space-1: var(--space);
  --space-2: calc(var(--space) * 2);
  --space-3: calc(var(--space) * 3);
  --space-4: calc(var(--space) * 4);
  --space-5: calc(var(--space) * 5);
  --space-6: calc(var(--space) * 6);
  --space-7: calc(var(--space) * 7);
  --space-8: calc(var(--space) * 8);
  --font-size: 18px;
  --desktop-breakpoint: 1200px;
  --lg-tablet-breakpoint: 1024px;
  --tablet-breakpoint: 768px;
  --sidebar-width: 100px;

  @media screen and (max-width: var(--tablet-breakpoint)) {
    --font-size: 14px;
    --sidebar-width: 60px;
  }
}